*
{
	outline: none;
}

img
{
	border: 0;
	vertical-align: middle;
}

table
{
	width: 100%;
}

form
{
	display: inline;
	margin: 0;
	padding: 0;
}

 .cursor
{
	cursor:pointer;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.clear
{
	clear: both;
}

.spacer10
{
	height: 8px;
	padding: 1px;
}

.pad10
{
	padding: 10px;
}

.pad5
{
	padding: 5px;
}

.nounderline
{
	text-decoration: none;
}

.center
{
	text-align: center;
}

.bold
{
	font-weight: bold;
}

.nobold
{
	font-weight: normal;
}

.white
{
	color: #fff;
}

.italic
{
	font-style: italic;
}

.uppercase
{
	text-transform: uppercase;
}

.hide
{
	display: none;
}

label
{
	color: #848484;
	font-size: 15pt;
	font-family: Helvetica, sans-serif;
}

.contentform
{
	font-size: 16pt;
	padding: 4px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 1px solid #848484;
	margin-top: 2px;
	margin-bottom: 5px;
	font-family: Helvetica, sans-serif;
}