body
{
	background: #ccc;
	padding: 0;
	margin: 0;
	text-align: center;
	font: 12px Tahoma, "Myriad", "Trebuchet MS", Verdana, Arial, Helvetica, Tahoma;
	color: #777;
}

#wrapper
{
	background: #eee;
	margin: 150px auto;
	margin-bottom: 0;
	width: 594px;
	
	padding: 10px 20px;
	text-align: left;
}

#shadow
{
	background: transparent url(http://kalapun.com/hcard/shadow.png) no-repeat bottom center;
	height: 17px;
	width: 594px;
	text-align: left;
	margin: 0 auto;
}

#header
{
}

#container
{
	background: transparent url(http://kalapun.com/hcard/dividers.png) no-repeat center center;
	padding-top: 25px;
	padding-bottom: 15px;
}

#full_name
{
	font-size: 26px;
}

#col_left,
#col_center
{
	float: left;
}

 #col_center
{
	width: 190px;
	font: 12px Tahoma, "Trebuchet MS", Verdana, Arial, Helvetica, Tahoma;
}

#col_left
{
	width: 200px;
}

#col_right
{
	width: 170px;
	float: right;
}

.network_name
{
	font: 10px Tahoma, "Trebuchet MS", Verdana, Arial, Helvetica, Tahoma;
	line-height: 100%;
	font-weight: bold;
}

.network_url
{
	font: 10px Tahoma, "Trebuchet MS", Verdana, Arial, Helvetica, Tahoma;
	line-height: 100%;
}

.service img
{
	margin-right: 5px;
}

.service
{
	margin-bottom: 10px;
}

.field_left
{
	background: url(http://kalapun.com/hcard/field_left.png) no-repeat center left;
	float: left;
	height: 20px;
	width: 5px;
}

.field_right
{
	background: url(http://kalapun.com/hcard/field_right.png) no-repeat center left;
	float: left;
	width: 5px;
	height: 20px;
}

.field_center
{
	background: url(http://kalapun.com/hcard/field_bg.png) repeat-x center left;
	font: 12px Tahoma, "Trebuchet MS", Verdana, Arial, Helvetica, Tahoma;
	float: left;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}

.work_detail
{
	margin-bottom: 5px;
	font: 11px Tahoma, "Trebuchet MS", Verdana, Arial, Helvetica, Tahoma;
}

.work_detail img
{
	margin-right: 5px;
}

.details
{
	padding-left: 20px;
}

.detail_name
{
	width: 54px;
	float: left;
	color: #444;
	font: 11px Tahoma, "Trebuchet MS", Verdana, Arial, Helvetica, Tahoma;
}

.left
{
font: 11px Tahoma, "Trebuchet MS", Verdana, Arial, Helvetica, Tahoma;
}